<?xml version="1.0" encoding="utf-8" ?>
<combres xmlns='urn:combres'>
  <filters>
    <filter type="Combres.Filters.FixUrlsInCssFilter, Combres" acceptedResourceSets="siteCss" />
    <filter type="Combres.Filters.HandleCssVariablesFilter, Combres" />
  </filters>
  <cssMinifiers>
    <minifier name="yui" type="Combres.Minifiers.YuiCssMinifier, Combres">
      <param name="CssCompressionType" type="string" value="StockYuiCompressor" />
      <param name="ColumnWidth" type="int" value="-1" />
    </minifier>
  </cssMinifiers>
  <jsMinifiers>
    <minifier name="yui2" type="Combres.Minifiers.YuiJSMinifier, Combres" />
    <minifier name="yui" type="Combres.Minifiers.YuiJSMinifier, Combres">
      <param name="IsVerboseLogging" type="bool" value="false" />
      <param name="IsObfuscateJavascript" type="bool" value="true" />
      <param name="PreserveAllSemicolons" type="bool" value="false" />
      <param name="DisableOptimizations" type="bool" value="false" />
      <param name="LineBreakPosition" type="int" value="-1" />
    </minifier>
    <minifier name="msajax" type="Combres.Minifiers.MSAjaxJSMinifier, Combres" binderType="Combres.Binders.SimpleObjectBinder, Combres">
      <param name="CollapseToLiteral" type="bool" value="true" />
      <param name="EvalsAreSafe" type="bool" value="true" />
      <param name="LocalRenaming" type="Microsoft.Ajax.Utilities.LocalRenaming, ajaxmin" value="CrunchAll" />
      <param name="OutputMode" type="Microsoft.Ajax.Utilities.OutputMode, ajaxmin" value="SingleLine" />
      <param name="RemoveUnneededCode" type="bool" value="true" />
      <param name="StripDebugStatements" type="bool" value="true" />
    </minifier>
    <minifier name="closure" type="Combres.Minifiers.ClosureJSMinifier, Combres">
      <param name="ApiUrl" type="string" value="http://closure-compiler.appspot.com/compile" />
      <param name="CompilationLevel" type="string" value="ADVANCED_OPTIMIZATIONS" />
    </minifier>
  </jsMinifiers>
  <resourceSets url="~/combres.axd"
                defaultDuration="30"
                defaultVersion="auto"
                defaultCssMinifierRef="off"
                defaultJSMinifierRef="off"
                defaultDebugEnabled="auto"
                localChangeMonitorInterval="30"
                remoteChangeMonitorInterval="60"
                >
    <resourceSet name="siteCss" type="css" version="21" minifierRef="yui" debugEnabled="false">
      <resource path="~/content/site.css" />
      <resource path="~/content/jquery-ui-1.7.2.custom.css" mode="Dynamic" />
    </resourceSet>
    <resourceSet name="siteJs" type="js" minifierRef="msajax" debugEnabled="false">
      <resource path="~/scripts/jquery-1.3.2.min.js" />
      <resource path="~/scripts/MicrosoftAjax.js" />
      <resource path="~/scripts/MicrosoftMvcAjax.js" />
      <resource path="~/scripts/jquery-ui-1.7.2.custom.min.js" />
    </resourceSet>
  </resourceSets>
</combres>
