<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="5.0.2" targetFramework="wp80" />
  <package id="WPtoolkit" version="4.2012.10.30" targetFramework="wp80" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="wp80" />
  <package id="Microsoft.Bcl" version="1.0.19" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Async" version="1.0.16" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.8" targetFramework="wp80" />
  <package id="MyToolkit" version="1.17.0" targetFramework="wp80" />
  <package id="MyToolkit.Extended" version="1.17.0" targetFramework="wp80" />
</packages>