@using System.Security.Claims
<div class="jumbotron">
    <h1>Secure Site</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Claims</h2>
        <ul>
            @foreach (Claim claim in (IEnumerable<Claim>) ViewBag.Claims)
            {
                <li>@claim.Type: @claim.Value</li>
            }
        </ul>
    </div>
</div>
