@{
    ViewBag.Title = "Home Page";
}

<h2 id="headline" data-Message="@ViewBag.Data">@ViewBag.Message</h2>
<p>
    <button id="getData">Daten anzeigen</button> <br/>
    <button id="setData">Neue Daten setzen</button>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
