@model BasicWaadAuth.Controllers.CallbackViewModel
@{
    ViewBag.Title = "Callback";
}

<h2>Azure AD Callback</h2>

<h3>Claims</h3>

<ul>
    @foreach (var claim in Model.Claims)
    {
        <li>Claim: @claim.Type = @claim.Value</li>
    }
</ul>

<h3>Users</h3>

<ul>
    @foreach (var user in Model.Users)
    {
        <li>User: @user.DisplayName</li>
    }
</ul>