<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Security.Authority" value="http://localhost:56482/"/>
    <add key="Security.WebAppClientUrl" value="http://localhost:57884/"/>
  </appSettings>
</configuration>