@{
    ViewBag.Title = "Home Page";
}

<script>
    $(function () {
        $("#ScriptButton").click(function () {

            var foobars = new Array();

            for (i = 0; i < 10; i++) {
                foobars.push({ Buzz: "Test!", Foo: 12123, Children: { Buzz: "Child!", Foo: 123213} });
            }

            var requestData = { };
            requestData.Name = "Testadalsdk";
            requestData.Foobars = foobars;
            
            $.ajax({
                url: "@Url.Action("Test", "Home")",
                type: "POST",
                contentType: 'application/json;',
                dataType: 'json',
                data: JSON.stringify(requestData)
            });

        });
        
        $("#FormButton").click(function () {

           
            
            $.ajax({
                url: "@Url.Action("Test", "Home")",
                type: "POST",
                data: $("form").serializeArray()
            });

        });

    });
</script>

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">
        http://asp.net/mvc</a>.
</p>

@using (Html.BeginForm("Test", "Home", FormMethod.Post)) 
{
    <input type="text" name="Name" value="Testvalue" />
    <input type="text" name="Foobars[0].Buzz" value="Testvalue" />
    <input type="text" name="Foobars[0].Foo" value="123123" />
    <input type="text" name="Foobars[1].Buzz" value="Testvalue" />
    <input type="text" name="Foobars[1].Foo" value="123123" />
    <input type="text" name="Foobars[2].Buzz" value="Testvalue" />
    <input type="text" name="Foobars[2].Foo" value="123123" />
    <input type="text" name="Foobars[3].Buzz" value="Testvalue" />
    <input type="text" name="Foobars[3].Foo" value="123123" />
    <input type="text" name="Foobars[3].Children[0].Buzz" value="KIND!" />
    <input type="text" name="Foobars[3].Children[0].Foo" value="123123" />
    <button>Ok</button>
}

<button id="ScriptButton" type="button">Script</button>
    <button id="FormButton" type="button">Form ser</button>


