
<html>
<head>
    <title>Hello World!</title>
</head>
<body>
    <h1>Hello World!</h1>
    <ul>
        @foreach (var value in Model.Numbers)
        {
            <li>@value</li>
        }
    </ul>
</body>
</html>