<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h2>
        Sorry, an error occurred while processing your request.
    </h2>

    <div>
        @foreach (var value in Model.Values)
        {
            @value
        }
    </div>


</body>
</html>
